article h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

article h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 1rem 0;
}

article h4 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

article p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 0 1rem 0;
}

article summary {
  font-size: 1.2rem;
  font-weight: 700;
}

article h1,
article h2,
details ul + p {
  border-bottom: 1px solid #30363db3;
  padding-bottom: 0.5rem;
}

article img {
  max-width: 100%;
  height: auto;
  margin: 0.5rem 0;
}

article details ul + p {
  color: transparent;
  margin-bottom: 1rem;
}

article a {
  color: #0070f3;
  text-decoration: none;
  border-bottom: 1px solid #0070f3;
}

article ul li {
  position: relative;
  padding: 0 0 0.5rem 1rem;
}

article ul li::before {
  content: "-";
  position: absolute;
  left: 0;
}

code {
  background-color: #1f252b;
  border-radius: 6px;
  font-size: 85%;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  color: #ffffff;
}

pre {
  background-color: #1f252b;
  border-radius: 6px;
  padding: 1rem;
  overflow: auto;
  margin: 1rem 0;
  font-size: 85%;
  line-height: 1.45;
}

pre code {
  background: none;
  padding: 0;
  color: inherit;
  font-size: inherit;
}

article blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #86198f;
  background-color: #1c1c1c63;
}

article blockquote p {
  margin: 0;
}
